:root {
  --color-black-900: #000000;
  --color-light-blue-100: #edf7fa;
  --color-dark-blue-500: #21243d;
  --color-blue-600: #00a8cc;
  --color-button-500: #ff6464;
  --color-white-200: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: heebo;
}
