:root {
  --color-black-900: #000000;
  --color-light-blue-100: #EDF7FA;
  --color-dark-blue-500: #21243D;
  --color-blue-600: #00A8CC;
  --color-button-500: #FF6464;
  --color-white-200:#FFFFFF;
}

body  img {

font: heebo;
}

